<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Register form</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email (used for login)</label>
                <input type="text" class="form-control" formControlName="email" id="email">
              <span class="text-danger"
                    *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
                            </span>
              <span class="text-danger"
                    *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                Enter a valid email address
                            </span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
                <input type="password" pPassword feedback="true" class="form-control" formControlName="password" id="password" autocomplete="mew-password">
              <span class="text-danger"
                    *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                Password is required
                            </span>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" autocomplete="mew-password">
              <span class="text-danger"
                    *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
                                Confirm Password is required
                            </span>
              <span class="text-danger"
                    *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                                Passwords does not match
                            </span>
            </div>
            <div class="form-group">
              <button [disabled]="showLoading" class="btn btn-primary">
                <span *ngIf="showLoading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>
            </div>
            <div class="form-group">
              <span class="text-success"
                    *ngIf="showSuccess">
                                {{ successMessage }}
                            </span>
            </div>
            <div class="form-group">
              <span class="text-danger"
                    *ngIf="showError">
                                {{ errorMessage }}
                            </span>
            </div>
          </form>
          Already have an account?
          <a routerLink="/login"> Login NOW! </a>
        </div>
      </div>
    </div>
  </div>
</div>
