<p-dialog header="" [closable]="true" [(visible)]="showPopup" [modal]="true" [style]="{minWidth: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="container-fluid" style="min-height: 390px; min-width: 400px;">
      HOVNO FUNGUJE TOOO
    </div>
    <br>
    <p-footer>
      <div class="row justify-content-end align-items-center">
        <div>
          <p-button (click)="accept()" type="submit" label="Accept" class="pr-2"></p-button>
          <p-button (click)="reject()" label="Reject" class="pr-2"></p-button>
        </div>
      </div>
    </p-footer>
</p-dialog>
