<p-dialog header="" [closable]="false" [(visible)]="showPopup" [modal]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <p-header>
    <h1>
      It is {{gameInfo?.game?.turnUserLogin}} turn!
    </h1>
  </p-header>
  <div class="container-fluid" style="min-height: 390px; min-width: 400px;">
      <table class="table table-bordered">
        <tbody>
        <tr *ngFor="let row of gameInfo?.board; index as i">
          <ng-container *ngFor="let col of row; index as y">
            <td class="align-middle text-center" *ngIf="col == '' && gameInfo?.game?.turnUserId == user?.id" [ngClass]="gameInfo?.playerPiece === 'X' ? 'hoverX' : gameInfo?.playerPiece === 'O' ? 'hoverO' : ''" (click)="move(i, y)">
            </td>
            <td class="align-middle text-center" *ngIf="col == '' && gameInfo?.game?.turnUserId != user?.id">
            </td>
            <td class="align-middle text-center" *ngIf="col == 'X'" [ngClass]="'backgroundX'">
            </td>
            <td class="align-middle text-center" *ngIf="col == 'O'" [ngClass]="'backgroundO'">
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
    <br>
    <p-footer>
      <div class="row justify-content-end align-items-center">
        <div>
          <p-button (click)="giveUp()" label="Give Up!" class="pr-2"></p-button>
        </div>
      </div>
    </p-footer>
</p-dialog>
