<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Login form</h3>
        </div>
        <div class="card-body">
          <!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control" id="email" autocomplete="username"/>
              <span class="text-danger"
                    *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
                            </span>
              <span class="text-danger"
                    *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                Enter a valid email address
                            </span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password" autocomplete="current-password"/>
              <span class="text-danger"
                    *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                Password is required
                            </span>
            </div>
            <div class="form-group">
              <div class="form-check-inline">
                <label class="checkbox-inline" for="rememberMe">Remember me:
                  <input type="checkbox" value="" formControlName="rememberMe" class="form-control" id="rememberMe"/>
                </label>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="showLoading" class="btn btn-primary">
                <span *ngIf="showLoading" class="spinner-border spinner-border-sm mr-1"></span>
                Log in
              </button>
            </div>
            <div class="form-group">
              <span class="text-danger"
                    *ngIf="showError">
                                {{ errorMessage }}
                            </span>
            </div>
          </form>-->
          Know your password?
          <a routerLink="/login"> Login NOW! </a>

        </div>
      </div>
    </div>
  </div>
</div>
