.logo {
  height: 3rem;
}

.navbar-text {
  color: black;
  font-weight: bold;
}

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}
