<app-nav-bar [menuItemKey]="1"></app-nav-bar>
<div class="container-fluid">
  <br>
  <div>
    <div class="row">
      <div class="table-responsive col">
        <table class="table" aria-describedby="tracker-page-heading">
          <thead>
          <tr class="text-center">
            <h2>Online users</h2>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of players">
            <ng-container *ngIf="!player.friend && player.online">
              <td *ngIf="player.available" class="table-success">
                <div class="row">
                  <div class="col">
                    {{ player.login }}
                  </div>
                  <div class="col">
                    <button (click)="askGame(player.login)" type="button" class="btn btn-primary">Game</button>
                  </div>
                  <div class="col">
                    <button (click)="addFriend(player.login)" type="button" class="btn btn-primary">Add friend</button>
                  </div>
                </div>
              </td>
              <td *ngIf="!player.available" class="table-danger">
                <div class="row">
                  <div class="col">
                    {{ player.login }}
                  </div>
                  <div class="col">
                    <button (click)="askGame(player.login)" type="button" class="btn btn-primary" disabled>Game</button>
                  </div>
                  <div class="col">
                    <button (click)="addFriend(player.login)" type="button" class="btn btn-primary" disabled>Add friend</button>
                  </div>
                </div>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive col">
        <table class="table" aria-describedby="tracker-page-heading">
          <thead>
          <tr>
            <h2 class="text-center">Friends</h2>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of players">
            <ng-container *ngIf="player?.friend && player">
              <td *ngIf="player.online && player.available" class="table-success">
                <div class="row">
                  <div class="col">
                    {{ player.login }}
                  </div>
                  <div class="col">
                    <button (click)="askGame(player.login)" type="button" class="btn btn-primary">Game</button>
                  </div>
                  <div class="col">
                    <button (click)="removeFriend(player)" type="button" class="btn btn-primary">Remove friend</button>
                  </div>
                </div>
              </td>
              <td *ngIf="!player.online || (player.online && !player.available)" [ngClass]="player.online ? 'table-danger' : 'table-dark'">
                <div class="row">
                  <div class="col">
                    {{ player.login }}
                  </div>
                  <div class="col">
                    <button (click)="askGame(player.login)" type="button" class="btn btn-success" disabled>Game</button>
                  </div>
                  <div class="col">
                    <button (click)="removeFriend(player)" type="button" class="btn btn-danger">Remove friend</button>
                  </div>
                </div>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-add-friend [(showPopup)]="showAddFriend" [message]="message" (emitAcceptUserLogin)="completeAddFriend($event)"></app-add-friend>
<app-game-challenge [(showPopup)]="showGameChallenge" [message]="message" (emitNewGame)="completeGameChallenge($event, false)"></app-game-challenge>
<app-wait-game  [(showPopup)]="showWaitGame" [opponentLogin]="waitingFor" [status]="status"></app-wait-game>
<app-board [user]="user" [(showPopup)]="showGameBoard" [message]="message"></app-board>
<app-remove-friend [(showPopup)]="showRemoveConfirmation" [friendToRemove]="friendToRemove" (emitRemoveUser)="completeRemoveUser($event)"></app-remove-friend>
