<app-nav-bar [menuItemKey]="1"></app-nav-bar>
<div (click)="disableContextMenu()" oncontextmenu="return false;">
  <div class="row">
    <div class="table-responsive col table-hover">
      <table class="table table-striped" aria-describedby="tracker-page-heading">
        <thead>
        <tr>
          Online users
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players">
          <ng-container *ngIf="!player.friend && player.online">
            <td [className]="player.available ? 'table-success' : 'table-error'" [contextMenu]="basicMenu" [contextMenuSubject]="player">
                {{ player.login }}
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive col">
      <table class="table table-striped table-hover" aria-describedby="tracker-page-heading">
        <thead>
        <tr>
          Friends
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players">
          <ng-container *ngIf="player?.friend">
            <td *ngIf="player.online && player.available" [contextMenu]="basicMenu" [contextMenuSubject]="player" class="table-success">{{ player.login }}</td>
            <td *ngIf="player.online && !player.available" [contextMenu]="basicMenu" [contextMenuSubject]="player" class="table-danger">{{ player.login }}</td>
            <td *ngIf="!player.online" [contextMenu]="basicMenu" [contextMenuSubject]="player" class="table-dark">{{ player.login }}</td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<context-menu [useBootstrap4]="true">
  <ng-template contextMenuItem (execute)="getPlayers()">
    Add friend
  </ng-template>
  <ng-template contextMenuItem (execute)="getPlayers()">
      Remove friend
  </ng-template>
  <ng-template contextMenuItem (execute)="getPlayers()">
    Challenge game
  </ng-template>
</context-menu>

-->
